<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">Nueva Acreditación</div>
        <div class="panel-body">
            <% @method = :post %>
            <%= render "form" %>
        </div>
      </div>
    </div>  
  </div>
</div>
