<div class="col-md-offset-3 col-md-6">
  <div class="panel panel-warning">
    <div class="panel-heading">Registrar Usuario</div>
    <div class="panel-body">
        <% @method = :patch %>
        <%= render partial: "form"%>
    </div>
  </div>
</div>