<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="#General">Red Hat General</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="#PL">Red Hat Plataforma</a></li>
        <li><a href="#PLCloud">Red Hat Plataforma Cloud</a></li>
        <li><a href="#SAP">Red Hat para SAP</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="#JBoss">JBoss General</a></li>
        <li><a href="#Agilizar">JBoss - Agilizar</a></li>
        <li><a href="#Procesos">JBoss - Integrar Procesos</a></li>
        <li><a href="#Datos">JBoss - Integrar Datos</a></li>
        <li><a href="#Aplicaciones">JBoss - Integrar Aplicaciones</a></li>
        <li><a href="#MWCloud">Red Hat Middleware Cloud</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="#Renovaciones">Renovaciones</a></li>
        <li><a href="#Training">Training</a></li>
        <li><a href="#Servicios">Servicios</a></li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Documentos de Enablement</h1>

      <div class="alert alert-info" role="alert">
        <strong>¿Necesitas material más complejo?</strong> Estos recursos son un complemento a toda la biblioteca de contenido que encuentras en Partner Connect. <a href="https://partner.redhat.com" class="alert-link">Ingresa con tu cuenta &raquo;</a>
      </div>

      <div class="alert alert-success" role="alert">
      <strong>¿Necesitas videos?</strong> Si debes presentar y no tienes acceso a internet, puedes descargar los videos coorporativos de Red Hat con subtítulos. <a href="https://spideroak.com/browse/share/jtobar/vid_enab/Videos/" class="alert-link">Descárgalos &raquo;</a>
      </div>

      <a name="General"></a>
      <h3 class="sub-header">Red Hat General</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/corporate_BROCHURE_red_hat_ES-LA.pdf">Brochure/folleto corporativo</a></td>
              <td>#generalidades</td>
            </tr>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/corporate_INFOGRAPHIC_Q1FY15_ES.pdf">Infográfico: Definiendo a Red Hat</a></td>
              <td>#generalidades</td>
            </tr>
            <tr>
              <td>Referencias</td>
              <td><a href="http://cl.redhat.com/resourcelibrary/case-studies/">Referencias públicas</a></td>
              <td>#cliente</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/Business%20Transformation%20and%20the%20CIO%20Role%20infographic.jpg">Perfil del CIO innovador (resumen)(inglés)</a></td>
              <td>#tendencias #industria #artículos</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/Business%20Transformation%20and%20the%20CIO%20Role%20slides.pdf">Perfil del CIO innovador (diapositivas)(inglés)</a></td>
              <td>#tendencias #industria #artículos</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/Business%20Transformation%20and%20the%20CIO%20Role.pdf">Perfil del CIO innovador (artículo Harvard Business Review)(inglés)</a></td>
              <td>#tendencias #industria #artículos</td>
            </tr>
            <tr>
              <td>Presentación</td>
              <td><a href="https://www.dropbox.com/s/3w51ho3web2j81c/Comparativo%20Red%20Hat%20-%20Otros%20Vendors.pdf?dl=0">Comparativo Red Hat - Comunitario - Tradicional</a> | <a href="https://www.dropbox.com/s/8x2t47qev5yis2t/Comparativo%20Red%20Hat%20-%20Otros%20Vendors.pptx?dl=0">Descargar PPTX</a></td>
              <td>#proyectoFidípides #cliente</td>
            </tr>
            <tr>
              <td>Presentación</td>
              <td><a href="https://www.dropbox.com/s/hmlajdtoe2qnee1/Overview%20Red%20Hat%20Infraestructura.pdf?dl=0">Overview Infraestructura Red Hat</a> | <a href="https://www.dropbox.com/s/l4yqggq5k9ijbge/Overview%20Red%20Hat%20Infraestructura.pptx?dl=0">Descargar PPTX</a></td>
              <td>#proyectoFidípides #cliente</td>
            </tr>
            <tr>
              <td>Compilado</td>
              <td><a href="https://dl.dropboxusercontent.com/u/7301398/webinars/Webinar%201%20-%20Quiénes%20somos%20y%20presentación%20de%20portafolio.zip">Webinar 1 - Quiénes somos y presentación de portafolio</a></td>
              <td>#generalidades</td>
            </tr>
          </tbody>
        </table>
      </div>

      <a name="PL"></a>
      <h3 class="sub-header">Red Hat Enterprise Linux</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHEL6_Advantage_wp_4328377_1010_ES_web.pdf">Ventajas de usar RHEL</a></td>
              <td>#platformMigration</td>
            </tr>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHEL6_Server_FeaturesBenefits_4190627_1010_ES_web.pdf">Features y beneficios de RHEL6</a></td>
              <td>#platformMigration</td>
            </tr>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHEL6_datasheet_4127607_1010_ES_web.pdf">Hoja de datos RHEL6</a></td>
              <td>#platformMigration</td>
            </tr>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHEL6_Add-ons_datasheet_4193847_1010_ES_web.pdf">Hoja de datos Add-on</a></td>
              <td>#platformMigration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHEL_Standardization_ESP.pdf">Cómo ahorrar estandarizando con RHEL</a></td>
              <td>#platformMigration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/RHEL_2013_Purchasing_Guide_v7_11377377_0913MM_web.pdf">Cómo comprar (inglés)</a></td>
              <td>#platformMigration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/RHELadvantageOverOracleLinuxV14Public.pdf">Ventajas de RHEL contra Oracle Linux (inglés)</a></td>
              <td>#platformMigration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHELvsOracleLinux_respuestas.pdf">Respuesta a declaraciones de Oracle Linux</a></td>
              <td>#platformMigration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/RHEL_Microsoft_Pricing_Comparison_WP_9819067_1212_ma_web.pdf">Comparación económica entre RHEL y Windows 2008 R2 (inglés)</a></td>
              <td>#platformMigration #artículos</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHEL6_RAS_evolution_WP_4183627_0910_ES_web.pdf">Red Hat Enterprise Linux 6: La evolucion en Alto Rendimiento y RAS</a></td>
              <td>#platformMigration #artículos</td>
            </tr>
            <tr>
              <td>Compilado</td>
              <td><a href="https://dl.dropboxusercontent.com/u/7301398/webinars/Webinar%202%20-%20RHEL.zip">Webinar 2 - RHEL</a></td>
              <td>#generalidades</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h3 class="sub-header">Red Hat Satellite</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/Satellite%20Overview%20and%20Roadmap%20Sales%20Presentation%20March2014.pdf">Presentacion comercial y roadmap</a></td>
              <td>#platformMigration #arquitectura</td>
            </tr>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/2497_Red%20Hat%20Satellite_Overview_FINAL2_CAPTIONS-2.ogv">Overview video (subtitulado)</a></td>
              <td>#platformMigration</td>
            </tr>
            <tr>
              <td>Resumen</td>
              <td><a href="https://www.youtube.com/watch?v=kploYc3nO34">Lo nuevo en Satellite 5.6 (ingles)</a></td>
              <td>#platformMigration</td>
            </tr>
            <tr>
              <td>Datasheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/RH_Satellite_datasheet_11473707_1013MM_A4_web.pdf">Hoja de datos (inglés)</a></td>
              <td>#platformMigration #arquitectura</td>
            </tr>
            <tr>
              <td>Referencias</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/Red%20Hat%20Satellite%20Customer%20Success%20Stories%20May2013.pdf">Referencias (inglés)</a></td>
              <td>#platformMigration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/SatelliteIDCLaTAMSpanishOct2013.pdf">Ahorros generados por Satellite (estudio IDC Octubre 2013)</a></td>
              <td>#platformMigration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/RHNSatelliteFAQ.pdf">Preguntas frecuentes (inglés)</a></td>
              <td>#platformMigration #faq</td>
            </tr>
            <tr>
              <td>Compilado</td>
              <td><a href="https://dl.dropboxusercontent.com/u/7301398/webinars/Webinar%204%20-%20Red%20Hat%20Satellite.zip">Webinar 4 - Red Hat Satellite</a></td>
              <td>#generalidades</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h3 class="sub-header">Red Hat Enterprise Virtualization</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHEV_LATAM_Spanish.mp4">Video resumen</a></td>
              <td>#virtualization</td>
            </tr>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHEV-M_Spanish_LATAM.mp4">Video explicando funcionalidades de RHEV Manager</a></td>
              <td>#virtualization</td>
            </tr>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHEV_A4_3.3_Datasheet_DOC139115_11714007_1213MM_web_ES-LA.pdf">Hoja de Datos</a></td>
              <td>#virtualization</td>
            </tr>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHEV_3_Desktop_datasheet_A4_Doc63172_8422697_1211_ma_web.pdf">Hoja de Datos RHEV for Desktops</a></td>
              <td>#virtualization</td>
            </tr>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/RHEV_34_vs_VMWare.pdf">Comparativo RHEV 3.4 vs VMWare (inglés)</a></td>
              <td>#virtualization #competencia</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/ESTUDIO%20-%20IDC%20Whitepaper%20Red%20Hat%20Enterprise%20Virtualization%202013.pdf">RHEV analizado por IDC (inglés)</a></td>
              <td>#virtualization #artículos</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHEV_SPECvirt_datasheet_DOC63160_11728837_V2_1213mm_A4_web_ESLA.pdf">Rendimiento SPECVirt de RHEV</a></td>
              <td>#virtualization</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/FS_EB_Linux%20Virtualization_04242013_CM-V2-Spanish-LA.pdf">Por qué la virtualización de Linux esta lista para despegar</a></td>
              <td>#virtualization #artículos</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/RHEV_onRHEL_Brochure_11635057_v1_1113_jw_A4_WEB.pdf">Las ventajas de tener RHEL en RHEV</a></td>
              <td>#virtualization #platformMigration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/RHEV_VMW_Migration3.5_Whitepaper_DOC88468_A4_web.PDF">Guía para migrar de VMWare a RHEV</a></td>
              <td>#virtualization #platformMigration #competencia</td>
            </tr>
            <tr>
              <td>Compilado</td>
              <td><a href="https://dl.dropboxusercontent.com/u/7301398/webinars/Webinar%206%20-%20RHEV.zip">Webinar 6 - RHEV</a></td>
              <td>#generalidades</td>
            </tr>
          </tbody>
        </table>
      </div>

      <a name="PLCloud"></a>
      <h3 class="sub-header">Red Hat Cloudforms</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHEV_RHCF_Spanish_LATAM.mp4">Video resumen</a></td>
              <td>#dci</td>
            </tr>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/CloudForms%20Summary%20Sales%20and%20Technical%20Presentation.pdf">Presentación comercial y técnica</a></td>
              <td>#dci</td>
            </tr>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RH_A4_CloudForms_datasheet_Summit_11517907_1013mm_web_ES.pdf">Hoja de datos</a></td>
              <td>#dci</td>
            </tr>
            <tr>
              <td>Referencias</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RH_DataWarehouseCo_CloudForms_CS_11340827_v3_0813jw_web_ES.pdf">Cliente de referencia</a></td>
              <td>#dci</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RH_Open_Hybrid_Cloud_Whitepaper_9897147_1112_it_A4_ES-LA_web.pdf">Maximice la flexibilidad estratégica al crear una nube híbrida abierta</a></td>
              <td>#dci #artículos</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RH_Cloudforms_Agility_Whitepaper_11414927_1013MM_a4_web_ES.pdf">Falta de agilidad en las clouds privadas actuales</a></td>
              <td>#dci #artículos</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h3 class="sub-header">Red Hat OpenStack</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/OPST_RHELOSP_CostEff_Pltfm_11812827_v1_0114_jw_A4_Web_ES-LA.pdf">Una nube privada y rentable para su negocio</a></td>
              <td>#dci</td>
            </tr>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHEL_OSP_LATAM%20Spanish.mp4">Video resumen</a></td>
              <td>#dci</td>
            </tr>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/DOC148993_RHEL-OSP4_Cust_Preso_20131203r1_spkr-notes.pdf">Presentación comercial</a></td>
              <td>#dci</td>
            </tr>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHEL-OSP_datasheet_DOC145195_11209107_V1_0713mm_A4_ESLA_Web.pdf">Hoja de datos</a></td>
              <td>#dci</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RedHatOpenStackQP_0613_ES_HiRes.pdf">OpenStack: publicidad frente a la realidad</a></td>
              <td>#dci #artículos</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h3 class="sub-header">Red Hat Cloud Infrastructure</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHCI_Thought_Leadership_ExecBrief_11015597_0513_it_A4_ESLA_w.pdf">Resumen ejecutivo</a></td>
              <td>#dci</td>
            </tr>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHCI_Spanish_%28LATAM%29.mp4">Video resumen</a></td>
              <td>#dci</td>
            </tr>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHCI_Tech_World_Award_Datasheet_11673687_v7_1213cd_A4_ESLA_Web.pdf">Hoja de Datos</a></td>
              <td>#dci</td>
            </tr>
          </tbody>
        </table>
      </div>

      <a name="SAP"></a>
      <h3 class="sub-header">Red Hat Plataforma para SAP</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHEL%20for%20SAP%20HANA%20datasheet%20-%20ES.pdf">RHEL for SAP datasheet</a></td>
              <td>#sap #rhel</td>
            </tr>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHEL%20for%20SAP%20-%20why%20you%20should%20use%20RHEL.pdf">¿Por qué instalar SAP sobre RHEL? (ENG)</a></td>
              <td>#sap #rhel</td>
            </tr>
            <tr>
              <td>Vídeo</td>
              <td><a href="https://www.youtube.com/watch?v=_LQw4U2kNE4">Tutorial de instalación SAP HANA sobre RHEL (de SAP Academy)</a></td>
              <td>#sap #rhel</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RH_DataWarehouseCo_CloudForms_CS_11340827_v3_0813jw_web_ES.pdf">Hardware certificado con RHEL y SAP HANA</a></td>
              <td>#sap #rhel #certificaciones</td>
            </tr>
          </tbody>
        </table>
      </div>

      <a name="MW"></a>
      <a name="JBoss"></a>
      <h3 class="sub-header">Red Hat JBoss</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/JB_portfolio_tech_overview_brochure_10939957_v1_0513jw_A4_ESLA_web.pdf">Vision general</a></td>
              <td>#MWGeneral</td>
            </tr>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHJB%20Soluciones%20de%20colaboracion%20para%20gobierno.pdf">Soluciones para gobierno usando JBoss</a></td>
              <td>#MWGeneral #artículos</td>
            </tr>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/JBoss%20portfolio%20The%20Innovative%20Insurance%20Company.pdf">Presentacion portfolio: Innovacion en una compania de seguros</a></td>
              <td>#MWGeneral</td>
            </tr>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/JBoss%20portfolio%20The%20Innovative%20Retailer.pdf">Presentacion portfolio: Innovacion en un retailer</a></td>
              <td>#MWGeneral</td>
            </tr>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RH_JBoss_Accelerate_EB_11320727_v1_0913KVM_A4_web_ESLA.pdf">Resumen ejecutivo: Acelerar</a></td>
              <td>#MWGeneral</td>
            </tr>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RH_JBoss_Integrate_EB_11320727_v1_0913KVM_A4_web_ESLA.pdf">Resumen ejecutivo: Integrar</a></td>
              <td>#MWGeneral</td>
            </tr>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RH_JBoss_DataVirt_EB_11320727_v1_0913KVM_A4_web_ESLA.pdf">Resumen ejecutivo: Virtualizar</a></td>
              <td>#MWGeneral</td>
            </tr>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RH_JBoss_Automate_EB_11320727_v1_0913KVM_A4_web_ESLA.pdf">Resumen ejecutivo: Automatizar</a></td>
              <td>#MWGeneral</td>
            </tr>
            <tr>
              <td>Referencias</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/JBoss_referencias.pdf">JBoss alrededor del mundo (inglés)</a></td>
              <td>#MWGeneral</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/ESTUDIO%20-%20Hurwitz_RedHat_ModernMiddleware_Spanish.pdf">Ventajas de la migracion a middleware moderno (JBoss)</a></td>
              <td>#MWGeneral</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://www.redhat.com/rhecm/rest-rhecm/jcr/repository/collaboration/jcr:system/jcr:versionStorage/c52b53bb0a05260220b4e3d889f155db/2/jcr:frozenNode/rh:resourceFile">Guía para suscribir JBoss (inglés)</a></td>
              <td>#MWGeneral</td>
            </tr>
            <tr>
              <td>Presentación</td>
              <td><a href="https://www.dropbox.com/s/f74xll7mvbc3hxb/Overview%20Red%20Hat%20Middleware.pdf?dl=0">Overview Middleware Red Hat</a> | <a href="https://www.dropbox.com/s/d2cc787t935037v/Overview%20Red%20Hat%20Middleware.pptx?dl=0">Descargar PPTX</a></td>
              <td>#proyectoFidípides #MWGeneral</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/RHJB_COMPETITIVE_Oracle_Fusion_competitive_sheet_9814167_0812_ma_web.pdf">JBoss vs. Oracle Fusion</a></td>
              <td>#comparativo #MWGeneral</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="https://www.youtube.com/watch?v=ty328F9Li4w">JBoss Community vs. JBoss Enterprise</a></td>
              <td>#comparativo #MWGeneral #vídeo</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://planet.jboss.org/#tags=Competitive">Competencia JBoss</a></td>
              <td>#comparativo #MWGeneral</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://bit.ly/jboss_pricing">JBoss Pricing</a></td>
              <td>#pricing #MWGeneral</td>
            </tr>
          </tbody>
        </table>
      </div>

      <a name="Agilizar"></a>
      <h3 class="sub-header">Red Hat JBoss Developer Studio</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/JB_Developer_Studio_datasheet_10962117_v2_0513jw_A4_ES-XL_Web.pdf">Hoja de datos</a></td>
              <td>#MWAppDevelopment</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h3 class="sub-header">Red Hat JBoss Enterprise Application Platform</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/JB_EAP_6.1_DS_10935797_v2_0513_jw_A4_ESLA_web.pdf">Hoja de datos</a></td>
              <td>#MWAppDevelopment</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/ESTUDIO%20-%20How%20Red%20Hat%20JBoss%20EAP%206%20Is%20Extending%20Business%20Value_Spanish.pdf">Cómo JBoss Enterprise Application Platform 6 de Red Hat amplia el valor del negocio</a></td>
              <td>#MWAppDevelopment</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/Hoja%20de%20Datos%20JBoss%20EAP%20vs%20AS.pdf">JBoss Enterprise Application Platform frente a JBoss Application Server, el proyecto de la comunidad JBoss</a></td>
              <td>#MWAppDevelopment #artículos #competencia</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/IntegracIon%20contInua%20con%20JBoss%20tradIng.pdf">Integración continua con JBoss Trading, una aplicación empresarial de referencia</a></td>
              <td>#MWAppDevelopment #artículos</td>
            </tr>
            <tr>
              <td>Compilado</td>
              <td><a href="https://dl.dropboxusercontent.com/u/7301398/webinars/Webinar%203%20-%20JBoss%20EAP.zip">Webinar 3 - JBoss EAP</a></td>
              <td>#generalidades</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/RHJB_COMPETITIVE_WebSphere_competitive_sheet_interactive_web_R1.pdf">JBoss vs. IBM WebSphere</a></td>
              <td>#comparativo #MWAppDevelopment</td>
            </tr>
          </tbody>
        </table>
      </div>

      <a name="Procesos"></a>
      <h3 class="sub-header">Red Hat JBoss BRMS</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/JBoss%20BRMS%20Product%20Deck%20v5.pdf">Presentación</a></td>
              <td>#MWIntegration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/ESTUDIO%20-%20IDC_Workflow%2C%20Rules%2C%20and%20CEP%20Combine%20to%20Drive%20New%20Business%20Value_Spanish.pdf">Flujos de trabajo, reglas y procesamiento de eventos complejos combinados para dar nuevo valor a la empresa</a></td>
              <td>#MWIntegration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/JB_BRMS_5.3_FAQ_A4_9225577_0412_dc_ES_LA.pdf">Preguntas frecuentes JBoss Enterprise BRMS 5.3</a></td>
              <td>#MWIntegration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/BRMS%20best%20practices.pdf">Mejores prácticas JBoss BRMS 5.2</a></td>
              <td>#MWIntegration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/jb_brms_5.3_best_practices_wp_10259257_0113jw_web.pdf">Mejores prácticas JBoss BRMS 5.3</a></td>
              <td>#MWIntegration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/RHJB_BRMS_IBM_ODM_Compet_Revw_11874057_0314MM_web-3.pdf">JBoss BRMS 6 comparado con IBM ODM (inglés)</a></td>
              <td>#MWIntegration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/RHJB_BRMS_6_v_Oracle_SOA_CompRev_11881577_v2_0314_mm_WEB-2.pdf">JBoss BRMS 6 comparado con Oracle SOA (inglés)</a></td>
              <td>#MWIntegration #competencia</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHJB_BPMsuite6_FAQ_11457007_v2_1013_jw_A4__ES_LA.pdf">Diferencias entre BPMS y BRMS</a></td>
              <td>#MWIntegration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RH_JBoss_BRMS_mejores_practicas_ESLA.pdf">Mejores prácticas de BRMS</a></td>
              <td>#MWIntegration</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h3 class="sub-header">Red Hat JBoss BPMS</h3>
      <div class="alert alert-danger" role="alert"><strong>Eric Schabell</strong> es uno de nuestros evangelistas globales y publica material actualizado, innovador y bastante detallado sobre BPM y BRMS. ¡Puedes encontrar allí lo que buscas! Él comparte material a través de <a href="http://www.schabell.org" target="_blank" class="alert-link">su Blog <i class="glyphicon glyphicon-new-window"></i></a></div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHJB_BPM_Suite_6_11553417_1013MM_a4__ES_LA.pdf">Resumen</a></td>
              <td>#MWIntegration</td>
            </tr>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHJB_BPM_Suite6_Enterprise_DataSheet_11436827_v1_1013MM_A4__ES_LA.pdf">Hoja de datos</a></td>
              <td>#MWIntegration</td>
            </tr>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/RHJB_BPM_Suite_6_Tech_Overview_11347767_0913MM_web.pdf">Hoja de datos extendida (inglés)</a></td>
              <td>#MWIntegration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHJB_BPMsuite6_FAQ_11457007_v2_1013_jw_A4__ES_LA.pdf">Diferencias entre BPMS y BRMS</a></td>
              <td>#MWIntegration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHJB_Open_Source_BPM_Whitepaper_10997937_V1_0713mm_A4__ES_LA.pdf">Beneficio de soluciones de código abierto para gestión de procesos</a></td>
              <td>#MWIntegration #artículos</td>
            </tr>
            <tr>
              <td>Compilado</td>
              <td><a href="https://dl.dropboxusercontent.com/u/7301398/webinars/Webinar%207%20-%20JBoss%20BPM%20Suite%20%28incluye%20BRMS%29.zip">Webinar 7 - JBoss BPM Suite (incluye BRMS)</a></td>
              <td>#generalidades</td>
            </tr>
          </tbody>
        </table>
      </div>

      <a name="Datos"></a>
      <h3 class="sub-header">Red Hat JBoss Data Grid</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/JB_DataGrid_whitepaper_V2_11446517_0913MM_A4_web_ESLA.pdf">Informe técnico</a></td>
              <td>#MWIntegration</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/ESTUDIO%20-%20JBoss%20Data%20Grid%20WP_ES.pdf">Mejora de la capacidad de ampliación de las aplicaciones con matrices de datos en memoria</a></td>
              <td>#MWIntegration</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h3 class="sub-header">Red Hat JBoss Data Virtualization</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/JDVCustomerDeck.pdf">Presentación comercial (inglés) </a></td>
              <td>#MWIntegration</td>
            </tr>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHJB_DataVirt_DS_11760917_v1_0114_jw_Web__ES_LA.pdf">Hoja de datos</a></td>
              <td>#MWIntegration</td>
            </tr>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHJB_DataVirt_DS_11760917_v1_0114_jw_Web__ES_LA.pdf">Hoja de datos (como Data Services Platform)</a></td>
              <td>#MWIntegration</td>
            </tr>
          </tbody>
        </table>
      </div>

      <a name="Aplicaciones"></a>
      <h3 class="sub-header">Red Hat JBoss Fuse y Fuse Service Works</h3>
      <div class="alert alert-danger" role="alert"><strong>Christina Lin</strong> es una de nuestras evangelistas globales y publica material actualizado, innovador y bastante detallado sobre Fuse. ¡Puedes encontrar allí lo que buscas! Ella comparte material a través de <a href="http://wei-meilin.blogspot.com" target="_blank" class="alert-link">su Blog <i class="glyphicon glyphicon-new-window"></i></a> y <a href="https://vimeo.com/user12646622" target="_blank" class="alert-link">su cuenta de Vimeo <i class="glyphicon glyphicon-new-window"></i>.</a></div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RH_JB_Fuse_ReliableMsg_Brochure_10620267_0313_A4_jw_WEB_ES_LA.pdf">Folleto Fuse</a></td>
              <td>#MWAutomation</td>
            </tr>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHJB_A4_Fuse_Service_Works_datasheet_11609347_v2_0114cd_web_ES-LA.pdf">Hoja de datos FSW</a></td>
              <td>#MWAutomation</td>
            </tr>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/RHJB_Fuse_Service_Works_Tech_Overview_11643207v2_0314MM_web.pdf">Hoja de datos extendida FSW (inglés)</a></td>
              <td>#MWAutomation</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/JB_A-MQ_vs_IBM_MQ_CO_A4_10635957_v1_0313cd_web_ES_LA.pdf">JBoss A-MQ comparado con IBM WebSphere MQ 7.5</a></td>
              <td>#MWAutomation #competencia</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_ENG/JBoss%20Fuse%20Flashcards%20Integration%20Patterns.pdf">Patrones de integracion con JBoss Fuse / FSW</a></td>
              <td>#MWAutomation</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h3 class="sub-header">Red Hat JBoss Portal</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/JB_Portal_6.1_Datasheet_11377647_v2_0913jw_A4_Web_ES-LA.pdf">Hoja de datos</a></td>
              <td>#MWGeneral</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h3 class="sub-header">Red Hat JBoss Operations Network</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/JB_Operations_Network_Datasheet_10948577_v1_0513jw_A4_Web_ES-LA.pdf">Hoja de datos</a></td>
              <td>#MWGeneral #MWIntegration</td>
            </tr>
            <tr>
              <td>Compilado</td>
              <td><a href="https://dl.dropboxusercontent.com/u/7301398/webinars/Webinar%205%20-%20JBoss%20Operations%20Network%20%28JON%29.zip">Webinar 5 - JBoss Operations Network (JON)</a></td>
              <td>#generalidades</td>
            </tr>
          </tbody>
        </table>
      </div>

      <a name="MWCloud"></a>
      <h3 class="sub-header">Red Hat Openshift</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHC_OpenShift_Enterprise_PaaS_Datasheet_V3_11508337_1013cd_ESLA_Web.pdf">Hoja de datos</a></td>
              <td>#dci</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RH_OpenShift_Enterprise_Exec_Checklist_10993637_v5_0513jw_ESLA_Web.pdf">Checklist PaaS para ejecutivos</a></td>
              <td>#dci</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RH_OpenShift_Enterprise_PaaS_Whitepaper_V1_11508337_1013MM_ESLA_Web.pdf">El camino a la PaaS empresarial</a></td>
              <td>#dci</td>
            </tr>
          </tbody>
        </table>
      </div>

      <a name="Generalidades"></a>
      <a name="Renovaciones"></a>
      <h3 class="sub-header">Renovaciones</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/Red_Hat_Renovaciones_Preguntas%20Frecuentes_ES.pdf">Preguntas frecuentes del cliente (para enviar)</a></td>
              <td>#cliente #generalidades #faq</td>
            </tr>
          </tbody>
        </table>
      </div>

      <a name="Training"></a>
      <h3 class="sub-header">Training</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Resumen</td>
              <td><a href="https://engage.redhat.com/forms/Training_SAC">Web de GLS SAC</a></td>
              <td>#website #capacitación #certificaciones</td>
            </tr>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://ar.redhat.com/rhecm/rest-rhecm/jcr/repository/collaboration/jcr:system/jcr:versionStorage/c9aa2c7c0a0526027981a870643ef67d/5/jcr:frozenNode/rh:resourceFile">Cursos infraestructura</a></td>
              <td>#capacitación #certificaciones</td>
            </tr>
            <tr>
              <td>DataSheet</td>
              <td><a href="http://ar.redhat.com/rhecm/rest-rhecm/jcr/repository/collaboration/jcr:system/jcr:versionStorage/c9b2cf590a0526021e72f45d19a5b861/16/jcr:frozenNode/rh:resourceFile">Cursos JBoss</a></td>
              <td>#capacitación #certificaciones</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHGLS_ValueBrochure_ES_interactive_2013-09-25.pdf">Ventajas de las certificaciones y entrenamiento RH para la empresa</a></td>
              <td>#capacitación #certificaciones</td>
            </tr>
          </tbody>
        </table>
      </div>

      <a name="Servicios"></a>
      <h3 class="sub-header">Servicios</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Resumen</td>
              <td><a href="http://people.redhat.com/~jtobar/Material_PUBL_SPA/RHC_ConsultingBrochure_DINA4_2013-02-28_ES.pdf">Brochure/folleto de Red Hat Consulting</a></td>
              <td>#delivery #consultoria #cliente</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
