<div class="page-presentation">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Proyecto Fidípides</h1>
      <p>Ahorra tiempo y entrega un mensaje con mayor impacto en clientes. Acá encontraras presentaciones actualizadas, editables y visualmente diseñadas para presentar en clientes y eventos.</p>
    </div>
  </div>

  <div class="container">
    <!-- Notes and edition menu -->
    <div class="row">
      <div class="col-md-4">
        <h2>Edición</h2>
        <p>La fuente oficial de Red Hat es Overpass. Deberá estar previamente instalada para una correcta visualización de los archivos PPTX.</p>
        <p><a class="btn btn-default" href="https://medium.com/@CristianRomero/como-cambiar-la-fuente-de-una-presentacion-3f44629c518c?source=tw-4d2e9bc6e2f2-1418415178199" role="button">Ver post con instrucciones &raquo;</a> </p>
      </div>
      <div class="col-md-4">
        <h2>Diseño</h2>
        <p>La presentación puede ser modificada de acuerdo a sus necesidades. Incluso, si necesita agregar su logo y elementos distintivos como Partner, lo podrá hacer sobre los archivos PPTX.</p>
        <p><a class="btn btn-default" href="http://office.microsoft.com/es-ar/powerpoint-help/edit-a-slide-master-HP005194498.aspx" role="button">Cambiar diseño &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Modo presentación</h2>
        <p>En la tabla hay tres opciones. La más rápida para presentar: <strong>Descargar PDF</strong> y activas pantalla completa. La que permite hacer cambios: <strong>Modificar</strong> en un archivo PPTX. La que te permite complementar información: <strong>Ver documentos</strong></p>
      </div>
    </div>

    <hr>

    <div class="alert alert-info" role="alert">
      <strong>¿Necesitas material más complejo?</strong> Estos recursos son un complemento a toda la biblioteca de contenido que encuentras en Partner Connect. <a href="https://partner.redhat.com" class="alert-link">Ingresa con tu cuenta &raquo;</a>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Descargas</th>
          <th>Más información</th>
        </tr>
      </thead>
      <tbody>
        <tr class="info">
          <td>Red Hat Infraestructura</td>
          <td><a href="https://www.dropbox.com/s/hmlajdtoe2qnee1/Overview%20Red%20Hat%20Infraestructura.pdf?dl=0" role="button">Overview PDF &raquo;</a> | <a href="https://www.dropbox.com/s/l4yqggq5k9ijbge/Overview%20Red%20Hat%20Infraestructura.pptx?dl=0" role="button">Modificar &raquo;</a></td>
          <td><a href="http://help-esac.rhcloud.com/documentos.html#PL" role="button">Ver documentos &raquo;</a></td>
        </tr>
        <tr>
          <td>Red Hat <b>Enterprise Linux</b></td>
          <td><a href="https://www.dropbox.com/s/sr5xj1br0hvfg8b/RHEL.pdf?dl=0" role="button">Descargar PDF &raquo;</a> | <a href="https://www.dropbox.com/s/s14kghffyr83di5/RHEL.pptx?dl=0" role="button">Modificar &raquo;</a></td>
          <td><a href="http://help-esac.rhcloud.com/documentos.html#PL" role="button">Ver documentos &raquo;</a></td>
        </tr>
        <tr>
          <td>Red Hat <b>Enterprise Virtualization</b></td>
          <td><a href="https://www.dropbox.com/s/37b662x0smfxv9d/RHEV.pdf?dl=0" role="button">Descargar PDF &raquo;</a> | <a href="https://www.dropbox.com/s/0864kc8mghvo8px/RHEV.pptx?dl=0" role="button">Modificar &raquo;</a></td>
          <td><a href="documentos.html#PL" role="button">Ver documentos &raquo;</a></td>
        </tr>
        <tr>
          <td>Red Hat <b>Satellite</b></td>
          <td><a href="https://www.dropbox.com/s/n9uuy968asbgpf9/Satellite.pdf?dl=0" role="button">Descargar PDF &raquo;</a> | <a href="https://www.dropbox.com/s/nogmpuim3y5o3v4/Satellite.pptx?dl=0" role="button">Modificar &raquo;</a></td>
          <td><a href="documentos.html#PL" role="button">Ver documentos &raquo;</a></td>
        </tr>
        <tr class="info">
          <td>Red Hat Middleware</td>
          <td><a href="https://www.dropbox.com/s/f74xll7mvbc3hxb/Overview%20Red%20Hat%20Middleware.pdf?dl=0" role="button">Overview PDF &raquo;</a> | <a href="https://www.dropbox.com/s/d2cc787t935037v/Overview%20Red%20Hat%20Middleware.pptx?dl=0" role="button">Modificar &raquo;</a></td>
          <td><a href="http://help-esac.rhcloud.com/documentos.html#JBoss" role="button">Ver documentos &raquo;</a></td>
        </tr>
        <tr>
          <td>Red Hat JBoss <b>Enterprise Application Platform</b></td>
          <td><a href="https://www.dropbox.com/s/agez6qy6m7f3vi6/JBoss%20EAP.pdf?dl=0" role="button">Descargar PDF &raquo;</a> | <a href="https://www.dropbox.com/s/8r19nv92ris3fbw/JBoss%20EAP.pptx?dl=0" role="button">Modificar &raquo;</a></td>
          <td><a href="http://help-esac.rhcloud.com/documentos.html#Agilizar" role="button">Ver documentos &raquo;</a></td>
        </tr>
        <tr>
          <td>Red Hat JBoss <b>A-MQ</b></td>
          <td><a href="https://www.dropbox.com/s/9hp0i9342hky1vi/JBoss%20A-MQ.pdf?dl=0" role="button">Descargar PDF &raquo;</a> | <a href="https://www.dropbox.com/s/lvrzz0pmwee7jin/JBoss%20A-MQ.pptx?dl=0" role="button">Modificar &raquo;</a></td>
          <td><a href="http://help-esac.rhcloud.com/documentos.html#Aplicaciones" role="button">Ver documentos &raquo;</a></td>
        </tr>
        <tr>
          <td>Red Hat JBoss <b>Fuse</b></td>
          <td><a href="https://www.dropbox.com/s/8zzei65qapt9y8m/JBoss%20Fuse.pdf?dl=0" role="button">Descargar PDF &raquo;</a> | <a href="https://www.dropbox.com/s/qncan2gstzxlso3/JBoss%20Fuse.pptx?dl=0" role="button">Modificar &raquo;</a></td>
          <td><a href="http://help-esac.rhcloud.com/documentos.html#Aplicaciones" role="button">Ver documentos &raquo;</a></td>
        </tr>
        <tr>
          <td>Red Hat JBoss <b>Data Virtualization</b></td>
          <td><a href="https://www.dropbox.com/s/5rzo1ihvxo7a1za/JBoss%20Data%20Virtualization.pdf?dl=0" role="button">Descargar PDF &raquo;</a> | <a href="https://www.dropbox.com/s/gomkzxt80hmj2et/JBoss%20Data%20Virtualization.pptx?dl=0" role="button">Modificar &raquo;</a></td>
          <td><a href="http://help-esac.rhcloud.com/documentos.html#Datos" role="button">Ver documentos &raquo;</a></td>
        </tr>
        <tr>
          <td>Red Hat JBoss <b>Data Grid</b></td>
          <td><a href="https://www.dropbox.com/s/xiezjsi629i9qv6/JBoss%20Data%20Grid.pdf?dl=0" role="button">Descargar PDF &raquo;</a> | <a href="https://www.dropbox.com/s/vo1yakx5jxupacz/JBoss%20Data%20Grid.pptx?dl=0" role="button">Modificar &raquo;</a></td>
          <td><a href="http://help-esac.rhcloud.com/documentos.html#Datos" role="button">Ver documentos &raquo;</a></td>
        </tr>
        <tr>
          <td>Red Hat JBoss <b>Business Process Management Suite</b></td>
          <td><a href="https://www.dropbox.com/s/frpyl2s3azey1z3/JBoss%20BPMS.pdf?dl=0" role="button">Descargar PDF &raquo;</a> | <a href="https://www.dropbox.com/s/mmlg9g7qzapx9uu/JBoss%20BPMS.pptx?dl=0" role="button">Modificar &raquo;</a></td>
          <td><a href="http://help-esac.rhcloud.com/documentos.html#Procesos" role="button">Ver documentos &raquo;</a></td>
        </tr>
        <tr>
          <td>Red Hat JBoss <b>Operations Network</b></td>
          <td><a href="https://www.dropbox.com/s/njovt8vbc88yaro/JBoss%20Operations%20Network.pdf?dl=0" role="button">Descargar PDF &raquo;</a> | <a href="https://www.dropbox.com/s/bjo1ajez8dnkw6c/JBoss%20Operations%20Network.pptx?dl=0" role="button">Modificar &raquo;</a></td>
          <td><a href="http://help-esac.rhcloud.com/documentos.html#Aplicaciones" role="button">Ver documentos &raquo;</a></td>
        </tr>
        <tr class="info">
          <td>Red Hat Cloud</td>
          <td><a href="https://www.dropbox.com/s/edd1nqouw20ai80/Overview%20Cloud.pdf?dl=0" role="button">Overview PDF &raquo;</a> | <a href="https://www.dropbox.com/s/q7uqi7ul46s3vp3/Overview%20Cloud.pptx?dl=0" role="button">Modificar &raquo;</a></td>
          <td><a href="documentos.html#PLCloud" role="button">Ver documentos &raquo;</a></td>
        </tr>
        <tr>
          <td>Red Hat <b>CloudForms</b></td>
          <td><a href="https://www.dropbox.com/s/xhzhlcp010wv1ry/Cloudforms.pdf?dl=0" role="button">Descargar PDF &raquo;</a> | <a href="https://www.dropbox.com/s/yp4ws9xfy1d5pcv/Cloudforms.pptx?dl=0" role="button">Modificar &raquo;</a></td>
          <td><a href="http://help-esac.rhcloud.com/documentos.html#PLCloud" role="button">Ver documentos &raquo;</a></td>
        </tr>
        <tr>
          <td>Red Hat <b>Openstack Platform</b></td>
          <td><a href="https://www.dropbox.com/s/7qfea8yo33u4tp2/Openstack.pdf?dl=0" role="button">Descargar PDF &raquo;</a> | <a href="https://www.dropbox.com/s/tznt6hiiaib626h/Openstack.pptx?dl=0" role="button">Modificar &raquo;</a></td>
          <td><a href="http://help-esac.rhcloud.com/documentos.html#PLCloud" role="button">Ver documentos &raquo;</a></td>
        </tr>
        <tr>
          <td>Red Hat <b>Openshift Enterprise</b></td>
          <td><a href="https://www.dropbox.com/s/eq07el0agbvbree/Openshift.pdf?dl=0" role="button">Descargar PDF &raquo;</a> | <a href="https://www.dropbox.com/s/6stvk7s51c6m6q3/Openshift.pptx?dl=0" role="button">Modificar &raquo;</a></td>
          <td><a href="http://help-esac.rhcloud.com/documentos.html#MWCloud" role="button">Ver documentos &raquo;</a></td>
        </tr>
      </tbody>
    </table>

    <div class="alert alert-warning" role="alert">
      <strong>¿Te gustó el material?</strong> Haz que el proyecto continúe. <a href="http://enablementsac.uservoice.com/" class="alert-link">Ingresa aquí &raquo;</a> y vota o escribe tu sugerencia.
    </div>

    <hr>

    <div class="well">
      <p><strong>¿Corres y corres con el trabajo diario?</strong> Eso hizo Fidípides en la antigua Grecia. Correr y correr para entregar los mensajes entre ciudades que debían ser dados a la persona correcta en un tiempo optímo. Este proyecto surge para habilitar más tiempo de contacto humano y de entendimiento de las necesidades de nuestros clientes. ¿La presentación y el mensaje?. Ya lo adelantamos por tí. <a href="entrenamientos.html" class="alert-link">Aunque podrías llegar a conocer más sobre nuestros productos &raquo;</a></p>
    </div>
  </div>
</div>
