html {
    height: 100%;
    body{
        height: 100%
    }
}

body {
  padding-top: $navbar-height + 40px;
  padding-bottom: $footer-height + 10px;
}
.main-container {
  padding-bottom: $footer-height + 30px;
}
@media (max-width: $screen-xs) {
  body{font-size: 10px;}
}

@media (max-width: $screen-sm) {
  body{font-size: 14px;}
}
a {
  cursor: default;
}
fieldset {
  margin-bottom: 5px;
}

.has-error {
  .form-control {
    border-color: red;
    border-style: solid;
  }
  .help-block {
    color: red;
  }
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: red;
}

.wrapper {
  position: relative;
  transform: translateY(50%);
}

h1,h2,h3 {
  font-family: "Overpass Bold","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
h4 {
  font-family: "Overpass Light";
  font-size: 34px;
}
.btn {
  font-family: "Overpass Light";
}
