html,body {
  height:100%;
}
body {
  padding-top: $navbar-height + 10px;
}
@media (max-width: $screen-xs) {
  body{font-size: 10px;}
}

@media (max-width: $screen-sm) {
  body{font-size: 14px;}
}
a {
  cursor: default;
}
fieldset {
  margin-bottom: 5px;
}

.has-error {
  .form-control {
    border-color: red;
    border-style: solid;
  }
  .help-block {
    color: red;
  }
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: red;
}
