// Place all the styles related to the course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.courses_index {
  th.actions {
    min-width: 110px;
  }
  td {
    .btn {
      margin-bottom: 5px;
    }
    a {

      margin-bottom: 5px;
    }
  }
}
