.navbar-brand {
  cursor: pointer;
  max-width: 80%;
  padding: 1px;
  img {
    max-height: $navbar-height - 2px;
  }
}

@mixin active {
  border-bottom-style: solid;
  border-bottom-color: #CC0000;
  border-bottom-width: 3px;
  a {
    background: none;
  }
}

.nav {
  a {
    cursor: pointer;
  }
  @each $tab in plan, docs, presentations, admin-users, admin-admins, admin-courses, admin-accreditations {
    &.active-#{$tab} {
      .#{$tab} { @include active; }
    }
  }
}

.navbar-nav {
  >li {
    &.active {
      @include active;
    }
    &:hover {
      border-bottom-style: solid;
      border-bottom-color: #CC0000;
      border-bottom-width: 3px;
    }
  }
}
