.navbar-brand {
  max-width: 80%;
  padding: 1px;
  img {
    max-height: 90px;
  }
}

.navbar-right {
  //border-left-style: solid;
  //border-left-width: 2px;
}

.navbar-nav {
  >li {
    &.active {
      border-bottom-style: solid;
      border-bottom-color: #CC0000;
      border-bottom-width: 3px;
      a {
        background: none;
      }
    }
    &:hover {
      border-bottom-style: solid;
      border-bottom-color: #CC0000;
      border-bottom-width: 3px;
    }
  }
}
