// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@font-face {
  font-family: "Overpass Light";
  src: url('<%= asset_path("overpass_light-webfont.ttf") %>') format('truetype');
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: "Overpass Regular";
  src: url('<%= asset_path("overpass_regular-webfont.ttf") %>') format('truetype');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Overpass Bold";
  src: url('<%= asset_path("overpass_bold-webfont.ttf") %>') format('truetype');
  font-weight: 700;
  font-style: normal
}

@font-face {
    font-family: "Overpass Light";
    src: url('//connect.redhat.com/sites/all/themes/rhc4tp/dist/fonts/overpass/overpass-light.eot?1432043696');
    src: url('//connect.redhat.com/sites/all/themes/rhc4tp/dist/fonts/overpass/overpass-light.eot?&1432043696#iefix') format('embedded-opentype'),url('//connect.redhat.com/sites/all/themes/rhc4tp/dist/fonts/overpass/overpass-light.woff?1432043696') format('woff'),url('//connect.redhat.com/sites/all/themes/rhc4tp/dist/fonts/overpass/overpass-light.ttf?1432043696') format('truetype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Overpass Regular";
    src: url('//connect.redhat.com/sites/all/themes/rhc4tp/dist/fonts/overpass/overpass-regular.eot?1432043696');
    src: url('//connect.redhat.com/sites/all/themes/rhc4tp/dist/fonts/overpass/overpass-regular.eot?&1432043696#iefix') format('embedded-opentype'),url('//connect.redhat.com/sites/all/themes/rhc4tp/dist/fonts/overpass/overpass-regular.woff?1432043696') format('woff'),url('//connect.redhat.com/sites/all/themes/rhc4tp/dist/fonts/overpass/overpass-regular.ttf?1432043696') format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Overpass Bold";
    src: url('//connect.redhat.com/sites/all/themes/rhc4tp/dist/fonts/overpass/overpass-bold.eot?1432043696');
    src: url('//connect.redhat.com/sites/all/themes/rhc4tp/dist/fonts/overpass/overpass-bold.eot?&1432043696#iefix') format('embedded-opentype'),url('//connect.redhat.com/sites/all/themes/rhc4tp/dist/fonts/overpass/overpass-bold.woff?1432043696') format('woff'),url('//connect.redhat.com/sites/all/themes/rhc4tp/dist/fonts/overpass/overpass-bold.ttf?1432043696') format('truetype');
    font-weight: 700;
    font-style: normal
}
@import "bootstrap-sprockets";
$navbar-height:                    80px !default;
$navbar-default-bg:                #ffffff !default;
@import "bootstrap";
@import 'bootstrap-datetimepicker';

@import "base";
@import "navigation";
@import "footer";

.btn-back {
  margin-bottom: 10px;
}









html,body {
	height:100%;
  font-family: Overpass,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.connect-background {
  background:center no-repeat fixed url('http://connect.redhat.com/sites/all/themes/rhc4tp/dist/images/bg-zones.jpg');
  background-size: cover;
}

.icon-bar {
	background-color:#fff;
}

section {
	padding-top:70px;
    padding-bottom:50px;
    min-height:calc(100% - 1px);
}

.v-center {
    padding-top:5%;
}

.well {
	border-color:transparent;
}

a.list-group-item.active,[class*='-info'] {
	background-color: #168ccc;
  color:#fff;
}

#section1 {
    background:center no-repeat fixed url('http://connect.redhat.com/sites/all/themes/rhc4tp/dist/images/bg-zones.jpg');
}

#section2 {
    padding-top:70px;
    padding-bottom:50px;
    min-height:calc(50% - 1px);
	background-color: #cc0000;
    color:#fff;
}

#section3 {
	background:center no-repeat fixed url('http://connect.redhat.com/sites/all/themes/rhc4tp/dist/images/bg-success-stories.jpg');
}

#section4 {
    padding-top:70px;
    padding-bottom:50px;
    min-height:calc(50% - 1px);
	background-color: #000000;
    color:#fff;
}

#section5,#section7,#section7 a {
    color:#f5f5f5;
}

#section6 {
	background-color: #168ccc;
    color:#ddd;
}

footer {
	background-color:#494949;
    color:#ddd;
    min-height:15px;
    padding-top:8px;
    padding-bottom:3px;
}

footer .nav>li>a {
    padding:3px;
    color:#ccc;
}

footer .nav>li>a:hover {
    background-color:transparent;
	color:#fff;
}





.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: $navbar-height + 5px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: $navbar-default-bg;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
