<% if @resource.sign_in_count == 0 %>

  <p>Hola <%= @resource.email %>, bienvenido a prometeo.</p>

  <p>Para activar tu cuenta usa el siguiente link:</p>

  <p><%= link_to 'Configurar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<% else %>

  <p>Hola <%= @resource.email %>,</p>
  <p>Hemos recibido una solicitud de cambio de contraseña para tu cuenta en prometeo.</p>

  <p>Para cambiar tu contraseña utiliza el siguiente link:</p>

  <p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

  <p>Si no has solicitado un cambio de contraseña, por favor ignora este correo.</p>
  <p>Tu contraseña no va a cambiar hasta que ingreses al link y configures una nueva.</p>

<% end %>
