<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading"><%= t(".create_user")%></div>
        <div class="panel-body">
            <%= render partial: "form"%>
        </div>
      </div>
    </div>
  </div>
</div>
