<div class="row">
  <div class="col-xs-12 text-center title-row">
    <h4>
      Selecciona tu rol:
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
    <div class="btn-group roles">
      <% User.roles.each do |role, role_code| %>
        <%= link_to step_2_accreditations_plan_path(role: role), class:"btn btn-default btn-role" do %>
          <p><%= role.titlecase.split.join("<br />").html_safe %></p>
          <button class="go btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
        <% end %>
      <% end %>
    </div>
    <div class="explanation-container">
      <p class="explanation text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>
