<div class="row">
  <div class="col-xs-12 text-center title-row">
    <div class="explanation-container">
      <p class="explanation text-justify">
        Prometeo te permite crear tus planes de entrenamiento en la comodidad de tu asiento. Te notificaremos la disponibilidad de los cursos y tu camino personalizado que incremente tu valor como profesional.
      </p>
    </div>
    <h4>
      Comienza contándonos cuál es tu rol.
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
    <div class="btn-group roles">
      <% User.roles.each do |role, role_code| %>
        <%= link_to step_2_accreditations_plan_path(role: role), class:"btn btn-default btn-role" do %>
          <p><%= role.titlecase.split.join("<br />").html_safe %></p>
          <button class="go btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
