<div class="row">
  <div class="col-xs-12 text-center">
    <%= link_to(step_2_accreditations_plan_path(role: @role), class: "link pull-left", remote: true) do %>
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="hidden-xs hidden-sm">
        Cambiar acreditaciones
      </span>
    <% end %>

    <%= button_tag :submit, class: "btn btn-default btn-success btn-lg pull-right" do %>
      <span class="hidden-xs hidden-sm">Suscribirme a notificaciones</span>
      <span class="glyphicon glyphicon-chevron-right"></span>
    <% end %>
    <h3>Aquí está el plan que te sugerimos</h3>
  </div>
</div>
