<div class="row">
  <div class="col-xs-12 text-center title-row">
    <div class="explanation-container">
      <p class="explanation text-justify">
        <%= t ".plan_copy"%>
      </p>
    </div>
    <h4>
      <%= t(".plan_header") %>
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
    <div class="btn-group roles">
      <% User.roles.each do |role, role_code| %>
        <%= link_to step_2_accreditations_plan_path(role: role), class:"btn btn-default btn-role" do %>
          <p><%= role.titlecase.split.join("<br />").html_safe %></p>
          <button class="go btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
