<div class="container">
  <div class="row courses_edit">
    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading"><%= t(".edit_course")%></div>
        <div class="panel-body">
            <% @method = :patch %>
            <%= render "form"%>
        </div>
      </div>
    </div>
  </div>
</div>
