<a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
  <strong><%= I18n.locale %></strong>
  <span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu">
  <% Settings.locales.each do |locale| %>
    <li>
      <%= link_to locale.upcase, locale_link(locale) unless I18n.locale == locale.to_sym  %>
    </li>
  <% end %>
</ul>
